{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": [
            "warn"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-no-target-blank": [
            0,
            {
                "allowReferrer": true,
                "enforceDynamicLinks": "never"
            }
        ],
        "no-unused-vars": "warn",
        // "no-console": "off",
        "func-names": "off",
        "no-restricted-globals": [
            "error",
            "NaN",
            "fdescribe"
        ],
        "no-use-before-define": "off",
        "no-param-reassign": [
            "warn",
            // {
            //     "props": false
            // }
        ],
        "react/prop-types": [
            "warn"
        ],
        // "no-process-exit": "off",
        // "object-shorthand": "off",
        // "class-methods-use-this": "off"
    },
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
}